*
{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body{
	font-family:sans-setif;
	background-color:#1F2833;
	width:100%;
	overflow-x:none;
	font-size:20px;
}
.menu-bar{
	font-size:18px;
	background:dimgrey;
	width:90%;
	margin:auto;
	margin-bottom:10px;
	text-align:center;
	border-style:solid;
	border-color:black;
	border-width:3px;
}	
.menu-bar ul{
	display: inline-flex;
	list-style:none;
	color:white;
}
.menu-bar ul li{
	width:145px;
	margin:15px;
	margin-right:2px;
	margin-left:2px;
	padding:10px;
	padding-left:5px;
	padding-right:5px;
}
.menu-bar ul li a{
	text-decoration:none;
	color:white;
}
.active, .menu-bar ul li:hover{
	background-color:black;
	border-radius:10px;
	padding:10px;
	padding-left:5px;
	padding-right:5px;
}
.menu-bar .fa{
	margin-right: 8px;
}
.sub1{
	display:none;
	border-style:solid;
	border-color:black;
}
.menu-bar ul li:hover .sub1{ 
	display:block;
	position:absolute;
	background:dimgrey;
	margin-top:0px;
	margin-left:-5px;
}
.menu-bar ul li:hover .sub1 ul{
	display:block;
	margin:15px;
}
.menu-bar ul li:hover .sub1 ul li{
	width:100px;
	padding:8px;
	padding-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #fff;
	background:transparent;
	border-radius:0;
	text-align:left;
}
.menu-bar ul li:hover .sub1 ul li:last-child{
	border-bottom:none;
}
.menu-bar ul li:hover .sub1 ul li a:hover{
	color:black;
}
.fa-angle-right{
	float:right;
}
.sub2{
	display: none;
}
.hover-me:hover .sub2{
	position:absolute;
	display:block;
	margin-top:-46px;
	margin-left:60px;
	background:dimgrey;
	border-style:solid;
	border-color:black;
}

.title{
	text-align:center;
	background-color:deepskyblue;
	font-size:45px;
	padding:10px;
	font-weight:bold;
}
.title-box{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	border-color:black;
	border-width:3px;
}

.paragraph-boxes{
	background-color:#C5C6C7;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	padding:10px;
	border-color:black;
	border-width:3px;
}
#paragraph-boxes{
	background-color:#C5C6C7;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	padding:10px;
	border-color:black;
	border-width:3px;
	display:flex;
}

#title{
	text-align:center;
	background-color:deepskyblue;
	font-size:48px;
	padding:10px;
	font-weight:bold;
}
#title-box{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	border-color:black;
	border-width:3px;
}

.figcaption{
	font-size:30px;
	color:black;
	margin-left: auto;
    margin-right: auto;
	background-color:#C5C6C7;
	width:90%;
	margin-bottom:50px;
	border-style:solid;
	border-color:dimgrey;
	border-width:5px;
}
a{
	text-decoration:none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
	border-style:solid;
	border-color:dimgrey;
	border-width:5px;
	border-bottom:none;
}
.exam-results{
	margin-bottom:10px;
	background-color:deepskyblue;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border-style:solid;
	padding:10px;
	border-color:black;
	border-width:3px;
	
}
.exam-results2{
	margin-bottom:10px;
	background-color:dimgrey;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border-style:solid;
	padding:10px;
	border-color:black;
	border-width:3px;
}
.text-center{
	text-align:center;
}
.jnc-badge-text;{
	position:absolute;
    top: 17px;
    left: 50px;

}

@media screen and (max-width: 1300px) {
  .menu-bar  {
	display:none;
  }
}


@media screen and (min-width: 1200px) {
  
  .jnc-badge-text-mobile{
	display:none;  
  }
}

div.gallery {
  border: 3px solid black;
  margin-bottom:15px;
}

div.gallery:hover {
  border: 5px solid #C5C6C7;
}

div.gallery img {
  width: 100%;
  height: 250px;
}

div.desc {
  padding: 15px;
  font-size:25px;
  text-align: center;
  background-color:#C5C6C7;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.footer{
	background-color:deepskyblue;
	padding:10px;
	display:flex;
}
.contact{
	margin-right:10px;
	font-size:15px;
}
.prayer{
	display:inline-flex;
	font-size:20px;
}
.prayer-boxes{
	background-color:#C5C6C7;
	width:25%;
	margin-left:auto;
	margin-right:5vw;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	padding:10px;
	border-color:black;
	border-width:3px;
}
.content-box{
	background-color:#C5C6C7;
	width:25%;
	margin-left:5vw;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	padding:10px;
	border-color:black;
	border-width:3px;
}
.contents-text{
	padding:10px;
	padding-bottom:2px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background-color:#C5C6C7;
	text-decoration:none;
	border-bottom:none;
}
.prayer-content{
	display:flex;
}
.welcome{
	background-color:#C5C6C7;
	width:40%;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	padding:10px;
	border-color:black;
	border-width:3px;
}
a{
	text-decoration:none;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.container
{
  text-align: center; 
  background-color:#C5C6C7;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	border-color:black;
	border-width:3px;
}
.left-div
{
  display: inline-block;
  width: 25%;
  text-align: left;
  padding: 5px;
  background-color: #C5C6C7;
  border-width: 3px;
  vertical-align: top;
  margin:10px;
   padding-bottom:10px;
  
}
.middle-div
{
  display: inline-block;
  width: 35%;
  text-align: left;
  background-color: #C5C6C7;
  border-width: 3px;
  margin:10px;
  margin-top:20px;
  vertical-align: top;
   padding-bottom:10px;
   border-left: black solid 3px;
   padding-left:10px;
}

.right-div
{
  display: inline-block;
  width: 30%;
  text-align: left;
  padding: 5px;
  background-color: #C5C6C7;
  border-width: 3px;
  margin:10px;
  border-left: black solid 3px;
   padding-bottom:10px;
}

@media screen and (max-width: 1300px) 
{
   .left-div, .middle-div
    {
       width: 90%;
	   margin-left:auto;
	   margin-right:auto;
	   border-bottom:black solid 3px;
	   border-right:none;
	   border-left:none;
    }
	.right-div{
		width: 90%;
	   margin-left:auto;
	   margin-right:auto;
	   border-right:none;
	   border-left:none;
	}
}
.news-container
{
  text-align: center; 
  background-color:#C5C6C7;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	border-color:black;
	border-width:3px;
}
.left
{
  display: inline-block;
  width: 30%;
  text-align: left;
  padding: 5px;
  background-color: #C5C6C7;
  border-width: 3px;
  vertical-align: top;
  margin:10px;
  padding-right:10px;
  
}
.left2
{
  display: inline-block;
  width: 30%;
  text-align: left;
  padding: 5px;
  background-color: #C5C6C7;
  border-width: 3px;
  vertical-align: top;
  margin:10px;
  padding-right:20px;
  
}
.middle
{
  display: inline-block;
  width: 30%;
  text-align: left;
  background-color: #C5C6C7;
  border-left: black solid 3px;
  border-right: black solid 3px;
  margin:5px;
  padding-left:10px;
  padding-right:5px;
  vertical-align: top;
}

.right
{
  display: inline-block;
  width: 30%;
  text-align: left;
  padding-left: 20px;
  background-color: #C5C6C7;
  border-width: 3px;
  margin:10px;

}

@media screen and (max-width: 1000px) 
{
   .left, .middle    {
       width: 90%;
	   margin-left:auto;
	   margin-right:auto;
	   border-bottom:black solid 3px;
	   border-right:none;
	   border-left:none;
	     padding-bottom:15px;
    }
	.left2{
		 width: 90%;
	   margin-left:auto;
	   margin-right:auto;
	   border-bottom:black solid 3px;
	   border-right:none;
	   border-left:none;
	     padding-bottom:15px;
	}
	.right{
		width: 90%;
	   margin-left:auto;
	   margin-right:auto;
	   border-right:none;
	   border-left:none;
	}
}
.latest-news{
	background-color:#C5C6C7;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border-style:solid;
	padding:10px;
	border-bottom:none;
	border-color:black;
	border-width:3px;
}
.teachers-container
{
  text-align: center; 
  background-color:#C5C6C7;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	border-color:black;
	border-width:3px;
}
.ptext
{
  display: inline-block;
  width: 45%;
  text-align: left;
  padding: 10px;
  background-color: #C5C6C7;
  border-width: 3px;
  vertical-align: top;
  height:400px;
  margin:10px;
  padding-left:30px;
   border-left: black solid 3px;
  
}

.timg
{
  display: inline-block;
  width: 45%;
  padding-left: 20px;
  background-color: #C5C6C7;
  border-width: 3px;
  height:400px;
  margin-left:auto;
  margin-right:auto;
}

@media screen and (max-width: 1000px) 
{
   .ptext    {
       width: 90%;
	   margin-left:auto;
	   margin-right:auto;
	   
	   border-right:none;
	   border-left:none;
    }
	.timg{
		width: 90%;
	   margin-left:auto;
	   margin-right:auto;
	   border-right:none;
	   border-left:none;
	   border-bottom:black solid 3px;
	}
}
body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: dimgrey;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  border:black solid 3px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  margin:10px 10px;
  text-decoration: none;
  font-size: 17px;
}



.topnav .icon {
  display: none;
  color:white;

}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #1F2833;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1300px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
@media screen and (min-width: 1300px) {
	.topnav{
		display:none;
	}
}
.aboutcontainer
{
  text-align: center; 
  background-color:#C5C6C7;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	border-color:black;
	border-width:3px;
}
.aboutleft-div
{
  display: inline-block;
  width: 25%;
  text-align: left;
  padding: 5px;
  background-color: #C5C6C7;
  border-width: 3px;
  vertical-align: top;
  margin:10px;
   border-right: black solid 3px;
  
}
.aboutmiddle-div
{
  display: inline-block;
  width: 35%;
  text-align: left;
  background-color: #C5C6C7;
  border-width: 3px;
  margin:10px;
  margin-top:20px;
  vertical-align: top;

}

.aboutright-div
{
  display: inline-block;
  width: 30%;
  text-align: left;
  padding: 5px;
  background-color: #C5C6C7;
  border-width: 3px;

  margin:10px;
  border-left: black solid 3px;
}

@media screen and (max-width: 1300px) 
{
   .aboutleft-div, .aboutmiddle-div
    {
       width: 90%;
	   margin-left:auto;
	   margin-right:auto;
	   border-bottom:black solid 3px;
	   border-right:none;
	   border-left:none;
    }
	.aboutright-div{
		width: 90%;
	   margin-left:auto;
	   margin-right:auto;
	   border-right:none;
	   border-left:none;
	}
}
#turn{
	display:none;
}
@media screen and (max-width: 600px) 
{
	#turn{
		display:block;
	}
	.idiot{
		width:200px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.megaidiot{
		width:200px;
	}
}
